/*
 * File: global.css
 * Project: learn-starter
 * File Created: Tuesday, 23rd June 2020 4:30:29 pm
 * Author: Mario Merino (mario@inventures.cl)
 * -----
 * Last Modified: Tuesday, 23rd June 2020 4:30:44 pm
 * Modified By: Mario Merino (mario@inventures.cl)
 * -----
 * Copyright 2019 - 2020 Incrementa Ventures SpA. ALL RIGHTS RESERVED
 * Terms and conditions defined in license.txt
 * -----
 * Inventures - www.inventures.cl
 */
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}
